/*
      _____ __        __   
     / ___// /___  __/ /__ 
     \__ \/ __/ / / / / _ \
    ___/ / /_/ /_/ / /  __/
   /____/\__/\__, /_/\___/ 
            /____/         
*/

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(60, 56, 54, 0.8)
}

button {
    border-radius: 1;
    border-color: rgb(235, 219, 178);
    border-radius: 10px;
	text-decoration-color: #a89984;
    color: #a89984;
	background-color: #282828;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 5px;
}

button:focus, button:active, button:hover {
	background-color: rgba(235, 219, 178, 0.4);
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
