/*
      _____ __        __   
     / ___// /___  __/ /__ 
     \__ \/ __/ / / / / _ \
    ___/ / /_/ /_/ / /  __/
   /____/\__/\__, /_/\___/ 
            /____/         
*/

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 13px;
    color: #ebdbb2;
}

window#waybar {
    background-color: rgba(60, 56, 54, 0.5);
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#wireplumber,
#network,
#bluetooth,
#memory,
#battery,
#power-profiles-daemon,
#clock {
    padding: 0 1px;
    color:  #ebdbb2;
}

/* Power Profiles */
#power-profiles-daemon.performance{
    color: #cc241d;
}
#power-profiles-daemon.balanced {
    color: #fabd2f;
}
#power-profiles-daemon.power-saver {
    color: #98971a;
}

#battery.critical:not(.charging) {
    background-color: #fb4934;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
